*{
    padding:0
}
body{
    font-family: "Gill Sans", sans-serif;    
    background-color: #2E2E33;
}
a,h1,h2,h3,h4,p{
    color: #ffffff;
}
.cabecalho{
    border: 1px solid;
    border-radius: 25px;
    border-color:#2e2d3e;
    width: auto;
    padding: 2px 0 0 20px; 
}
table, th, td {
    border:1px solid #2e2d3e;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
  }
img{
    border-radius: 10px;
    height: 400px;
    margin-bottom: 20px
}
main{
    border: 1px solid;
    border-radius: 25px;
    border-color:#2e2d3e;
    width: auto;
    padding: 2px 0 0 20px; 
}
.containerTituloCabecalho{
    border-radius: 15px;
    border-color: #38374B;
    background-repeat: no-repeat;
    background-color: #1711F5;
    margin-right: 10px;
    text-align: center;
}
.configImagemContatos{
    width : 10px;
    height : 10px;
    border: 1px solid;
    border-color: #38374B;
    border-radius: 10px;
    margin-bottom: 0;
}
.containerBack{
    background-color: #454375;
    border: 1px solid;
    border-radius: 25px;
    border-color: #38374B;
    margin: 150px;
    margin-left:400px;
    margin-right:400px;
}
.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.containerInter{
    padding: 10px;
}
.listaContatos{
    list-style-type: none;
    text-align: center;
    margin-right: 60px;
    margin-top: 0;
    
}
.containerTituloCorpo1{
    border-radius: 10px;
    border-color: #38374B;
    background-repeat: no-repeat;
    background-color: #1711F5;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.containerTituloCorpo2{
    
    border-radius: 10px;
    border-color: #38374B;
    background-repeat: no-repeat;
    background-color: #1711F5;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 5px;
    display: unset;
}
.containerimg{
    display:flex; 
    flex-direction: row;
}
.textoCorpo{
    text-align: left;
    display: unset;
    margin-bottom: 10px;
}
.containerTextoImg{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.containerTextoImgTitulo{
    justify-content: center;
}
.containerTextoImgCorpo{
    display: flex;
    justify-content: center;
}